In [1]:
import pandas as pd
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt
#GDP Frame (Unused)
GDPF = pd.read_csv("data/(Unused) GDP Per Capita.csv")
#Spending Frame (Unused)
SPF = pd.read_csv("data/(Unused) WHO Data.csv")
#GDP
GDP = pd.read_csv("data/2016 PPP-Adjusted GDP Per Capita.csv")
#Current Health Expenditures
CHE = pd.read_csv("data/2016 WHO Expenditure Stats.csv")
#Infant Mortalitiy
IMF = pd.read_csv("data/Infant Mortality (Per 1,000 Live Births).csv")
#Child Mortality
CMF = pd.read_csv("data/Child Mortality Rate.csv")
#Adult Mortality
AMF = pd.read_csv("data/WHO Adult Mortality.csv")

In [2]:
GDPF = GDPF.rename(columns = {"GDP per capita, PPP (constant 2011 international $)" : "GDP Per Capita", "Entity" : "Country"})
GDPF = GDPF.loc[:,['Country', 'Year', 'GDP Per Capita']]
GDPF = GDPF[GDPF.Year==2016]
average = GDPF[GDPF.Country == "World"]["GDP Per Capita"].sum()
GDPF = GDPF[GDPF.Country != "World"]
GDPF = GDPF.loc[:,['Country', 'GDP Per Capita']]
GDPF = GDPF[GDPF['GDP Per Capita'] >= average]
GDPF

                   Country  GDP Per Capita
126    Antigua and Barbuda    21013.017627
154             Arab World    15500.530523
182              Argentina    18584.580005
239              Australia    44493.480894
267                Austria    44464.350268
...                    ...             ...
6073  United Arab Emirates    67705.949329
6101        United Kingdom    39309.327082
6129         United States    53399.359167
6157   Upper middle income    15669.134401
6185               Uruguay    20093.632258

[94 rows x 2 columns]

In [3]:
SPF[SPF.Indicator == 'Gross Domestic Product (GDP) per Capita in PPP Int$']

,Country,Indicator,Value
6,Algeria,Gross Domestic Product (GDP) per Capita in PPP...,"15,482"
16,Angola,Gross Domestic Product (GDP) per Capita in PPP...,"6,462"
26,Benin,Gross Domestic Product (GDP) per Capita in PPP...,"3,340"
36,Botswana,Gross Domestic Product (GDP) per Capita in PPP...,"18,616"
46,Burkina Faso,Gross Domestic Product (GDP) per Capita in PPP...,"1,985"
...,...,...,...
1846,Solomon Islands,Gross Domestic Product (GDP) per Capita in PPP...,"2,405"
1856,Tonga,Gross Domestic Product (GDP) per Capita in PPP...,"6,972"
1866,Tuvalu,Gross Domestic Product (GDP) per Capita in PPP...,"3,979"
1876,Vanuatu,Gross Domestic Product (GDP) per Capita in PPP...,"3,221"
1886,Viet Nam,Gross Domestic Product (GDP) per Capita in PPP...,"7,438"

Note that I switched from using median to mean for determining high-gdp countries
I have abandoned the above 2 datasets in favor of the more updated and streamlined dataset below

# Q1

In [4]:
average = GDP["2016"].mean()
average

21274.374205268985

In [5]:
GDP = GDP[GDP["2016"] >= average]
GDP = GDP.rename(columns = {'2016':'GDP Per Capita','Countries' : 'Country'})

In [6]:
GDP = GDP.loc[:, ["Country", "GDP Per Capita"]]

In [7]:
GDP

                 Country  GDP Per Capita
14     Equatorial Guinea     26232.10577
25               Liberia    119881.66980
38            Seychelles     27373.76713
46   Antigua and Barbuda     23671.64500
48               Bahamas     30862.31373
..                   ...             ...
166                Japan     39730.17550
169             Malaysia     28246.86487
174          New Zealand     40281.82201
179    Republic of Korea     39748.88684
181            Singapore     90702.36075

[62 rows x 2 columns]

This answers question 1. All of the countries with a GDP per capita greater than or equal to the average have now been filtered through the GDP frame.

# Q2

In [8]:
CHE.head()

,Countries,Indicators,Unnamed: 2,2016
0,Algeria,Current Health Expenditure (CHE) as % Gross Do...,NaN,6.607782
1,Algeria,Current Health Expenditure (CHE) per Capita in...,NaN,993.576111
2,Angola,Current Health Expenditure (CHE) as % Gross Do...,NaN,2.713150
3,Angola,Current Health Expenditure (CHE) per Capita in...,NaN,183.325729
4,Benin,Current Health Expenditure (CHE) as % Gross Do...,NaN,2.780159

In [9]:
CHE = CHE.drop(0)
CHE

,Countries,Indicators,Unnamed: 2,2016
1,Algeria,Current Health Expenditure (CHE) per Capita in...,NaN,993.576111
2,Angola,Current Health Expenditure (CHE) as % Gross Do...,NaN,2.713150
3,Angola,Current Health Expenditure (CHE) per Capita in...,NaN,183.325729
4,Benin,Current Health Expenditure (CHE) as % Gross Do...,NaN,2.780159
5,Benin,Current Health Expenditure (CHE) per Capita in...,NaN,83.119232
...,...,...,...,...
369,Tuvalu,Current Health Expenditure (CHE) per Capita in...,NaN,627.295166
370,Vanuatu,Current Health Expenditure (CHE) as % Gross Do...,NaN,2.845865
371,Vanuatu,Current Health Expenditure (CHE) per Capita in...,NaN,85.713272
372,Viet Nam,Current Health Expenditure (CHE) as % Gross Do...,NaN,5.659194
373,Viet Nam,Current Health Expenditure (CHE) per Capita in...,NaN,360.217499

In [10]:
CHE = CHE.drop(columns=['Unnamed: 2'])

In [11]:
percent = CHE[CHE["Indicators"] == "Current Health Expenditure (CHE) as % Gross Domestic Product (GDP)"]

In [12]:
total = CHE[CHE["Indicators"] == "Current Health Expenditure (CHE) per Capita in PPP"]

In [13]:
percent = percent.rename(columns = {'2016':'CHE as % of GDP','Countries' : 'Country'})
total = total.rename(columns = {'2016':'Total PPP-Adjusted Expenditure','Countries' : 'Country'})

In [14]:
percent

,Country,Indicators,CHE as % of GDP
2,Angola,Current Health Expenditure (CHE) as % Gross Do...,2.713150
4,Benin,Current Health Expenditure (CHE) as % Gross Do...,2.780159
6,Botswana,Current Health Expenditure (CHE) as % Gross Do...,5.560522
8,Burkina Faso,Current Health Expenditure (CHE) as % Gross Do...,7.027821
10,Burundi,Current Health Expenditure (CHE) as % Gross Do...,7.492657
...,...,...,...
364,Solomon Islands,Current Health Expenditure (CHE) as % Gross Do...,4.997680
366,Tonga,Current Health Expenditure (CHE) as % Gross Do...,5.064503
368,Tuvalu,Current Health Expenditure (CHE) as % Gross Do...,16.884249
370,Vanuatu,Current Health Expenditure (CHE) as % Gross Do...,2.845865
372,Viet Nam,Current Health Expenditure (CHE) as % Gross Do...,5.659194

In [15]:
total

,Country,Indicators,Total PPP-Adjusted Expenditure
1,Algeria,Current Health Expenditure (CHE) per Capita in...,993.576111
3,Angola,Current Health Expenditure (CHE) per Capita in...,183.325729
5,Benin,Current Health Expenditure (CHE) per Capita in...,83.119232
7,Botswana,Current Health Expenditure (CHE) per Capita in...,962.801575
9,Burkina Faso,Current Health Expenditure (CHE) per Capita in...,124.583496
...,...,...,...
365,Solomon Islands,Current Health Expenditure (CHE) per Capita in...,113.528511
367,Tonga,Current Health Expenditure (CHE) per Capita in...,330.568970
369,Tuvalu,Current Health Expenditure (CHE) per Capita in...,627.295166
371,Vanuatu,Current Health Expenditure (CHE) per Capita in...,85.713272
373,Viet Nam,Current Health Expenditure (CHE) per Capita in...,360.217499

In [16]:
CHE = total.merge(percent, on="Country")

In [17]:
CHE = CHE.drop(['Indicators_x', 'Indicators_y'],  axis=1)
CHE

             Country  Total PPP-Adjusted Expenditure  CHE as % of GDP
0             Angola                      183.325729         2.713150
1              Benin                       83.119232         2.780159
2           Botswana                      962.801575         5.560522
3       Burkina Faso                      124.583496         7.027821
4            Burundi                       59.098297         7.492657
..               ...                             ...              ...
181  Solomon Islands                      113.528511         4.997680
182            Tonga                      330.568970         5.064503
183           Tuvalu                      627.295166        16.884249
184          Vanuatu                       85.713272         2.845865
185         Viet Nam                      360.217499         5.659194

[186 rows x 3 columns]

This is the initial portion to question 2. The next step is to determine health outcomes. We will start with infant mortality

# Q3

In [18]:
IMF

          Country  Infant Mortality Rate
0           Aruba                    NaN
1     Afghanistan                   51.3
2          Angola                   55.6
3         Albania                    8.4
4         Andorra                    3.2
..            ...                    ...
259        Kosovo                    NaN
260   Yemen, Rep.                   43.3
261  South Africa                   28.2
262        Zambia                   45.8
263      Zimbabwe                   41.4

[264 rows x 2 columns]

In [19]:
CMF

         Country  Bounds  Child Mortality Rate
0    Afghanistan   Lower               13.3020
1    Afghanistan  Median               17.1323
2    Afghanistan   Upper               21.5238
3        Albania   Lower                1.0124
4        Albania  Median                1.0492
..           ...     ...                   ...
580       Zambia  Median               21.7161
581       Zambia   Upper               26.3517
582     Zimbabwe   Lower               14.9089
583     Zimbabwe  Median               18.9300
584     Zimbabwe   Upper               23.6155

[585 rows x 3 columns]

In [20]:
CMF = CMF[CMF['Bounds'] == "Median"]
CMF = CMF.drop(columns=['Bounds'])
CMF

                                Country  Child Mortality Rate
1                           Afghanistan               17.1323
4                               Albania                1.0492
7                               Algeria                3.5881
10                              Andorra                0.1692
13                               Angola               30.3352
..                                  ...                   ...
571  Venezuela (Bolivarian Republic of)                3.2219
574                            Viet Nam                4.3566
577                               Yemen               14.1670
580                              Zambia               21.7161
583                            Zimbabwe               18.9300

[195 rows x 2 columns]

In [21]:
AMF

         Location  Period        Dim1  Adult Mortality Rate
0     Afghanistan    2016  Both sexes                 245.2
1     Afghanistan    2016        Male                 271.8
2     Afghanistan    2016      Female                 215.6
3     Afghanistan    2015  Both sexes                 233.2
4     Afghanistan    2015        Male                 253.0
...           ...     ...         ...                   ...
9328     Zimbabwe    2001        Male                 723.4
9329     Zimbabwe    2001      Female                 656.3
9330     Zimbabwe    2000  Both sexes                 675.3
9331     Zimbabwe    2000        Male                 715.1
9332     Zimbabwe    2000      Female                 639.5

[9333 rows x 4 columns]

In [22]:
AMF = AMF[AMF.Dim1 == "Both sexes"]
AMF = AMF[AMF.Period == 2016]
AMF = AMF.drop(columns=['Period', 'Dim1'])
AMF = AMF.rename(columns = {'Location':'Country'})
AMF

                                 Country  Adult Mortality Rate
0                            Afghanistan                245.20
51                               Albania                 96.41
102                              Algeria                 95.03
153                               Angola                237.00
204                  Antigua and Barbuda                119.90
...                                  ...                   ...
9078  Venezuela (Bolivarian Republic of)                156.70
9129                            Viet Nam                124.80
9180                               Yemen                221.30
9231                              Zambia                286.30
9282                            Zimbabwe                333.00

[183 rows x 2 columns]

Now that we have all of the relevent mortality rates in isolation, it is time to merge them together. Note that the adult rates seem higher than the child rates. This is because the adult rates are total deaths across a 45 year span. To give better intuition, I may use a normalized-per-year rate.

In [23]:
#Mortality Frame
MF = IMF.merge(CMF)
MF = MF.merge(AMF)
MF

,Country,Infant Mortality Rate,Child Mortality Rate,Adult Mortality Rate
0,Afghanistan,51.3,17.1323,245.20
1,Angola,55.6,30.3352,237.00
2,Albania,8.4,1.0492,96.41
3,United Arab Emirates,6.6,1.1303,73.95
4,Argentina,9.7,1.2055,111.40
...,...,...,...,...
158,Vanuatu,23.5,4.6494,129.40
159,Samoa,14.1,2.3345,110.40
160,South Africa,28.2,8.1609,301.30
161,Zambia,45.8,21.7161,286.30
162,Zimbabwe,41.4,18.9300,333.00

The above frame shows the rate of moratlity in 2016 across all countries in three phases: Infant(age 0-1), Child(age 1-5), and Adult(age 15-60). For better intution, the following table is normalized to a per-year basis.

In [24]:
#Normalized Mortality Frame
NMF = MF
NMF["Child Mortality Rate"] = NMF["Child Mortality Rate"]/5
NMF["Adult Mortality Rate"] = NMF["Adult Mortality Rate"]/45
NMF

,Country,Infant Mortality Rate,Child Mortality Rate,Adult Mortality Rate
0,Afghanistan,51.3,3.42646,5.448889
1,Angola,55.6,6.06704,5.266667
2,Albania,8.4,0.20984,2.142444
3,United Arab Emirates,6.6,0.22606,1.643333
4,Argentina,9.7,0.24110,2.475556
...,...,...,...,...
158,Vanuatu,23.5,0.92988,2.875556
159,Samoa,14.1,0.46690,2.453333
160,South Africa,28.2,1.63218,6.695556
161,Zambia,45.8,4.34322,6.362222
162,Zimbabwe,41.4,3.78600,7.400000

In [25]:
#Resetting Mortality Frame
MF = IMF.merge(CMF)
MF = MF.merge(AMF)
MF

,Country,Infant Mortality Rate,Child Mortality Rate,Adult Mortality Rate
0,Afghanistan,51.3,17.1323,245.20
1,Angola,55.6,30.3352,237.00
2,Albania,8.4,1.0492,96.41
3,United Arab Emirates,6.6,1.1303,73.95
4,Argentina,9.7,1.2055,111.40
...,...,...,...,...
158,Vanuatu,23.5,4.6494,129.40
159,Samoa,14.1,2.3345,110.40
160,South Africa,28.2,8.1609,301.30
161,Zambia,45.8,21.7161,286.30
162,Zimbabwe,41.4,18.9300,333.00

# Q4 Part 1

In [26]:
#Combined Frame
CF = GDP.merge(CHE, on="Country")

In [27]:
CF

,Country,GDP Per Capita,Total PPP-Adjusted Expenditure,CHE as % of GDP
0,Equatorial Guinea,26232.10577,824.874939,3.144524
1,Liberia,119881.66980,11743.436520,9.795856
2,Seychelles,27373.76713,1417.632202,5.178798
3,Antigua and Barbuda,23671.64500,1212.438354,5.121902
4,Bahamas,30862.31373,1733.274048,5.616151
...,...,...,...,...
57,Japan,39730.17550,4304.609375,10.834610
58,Malaysia,28246.86487,1041.845581,3.688358
59,New Zealand,40281.82201,3735.728760,9.273982
60,Republic of Korea,39748.88684,2748.367920,6.914327
61,Singapore,90702.36075,3992.280762,4.401518

In [28]:
CF.merge(MF, on="Country")

,Country,GDP Per Capita,Total PPP-Adjusted Expenditure,CHE as % of GDP,Infant Mortality Rate,Child Mortality Rate,Adult Mortality Rate
0,Equatorial Guinea,26232.10577,824.874939,3.144524,66.1,26.4234,304.80
1,Liberia,119881.66980,11743.436520,9.795856,65.2,25.8014,230.30
2,Seychelles,27373.76713,1417.632202,5.178798,12.7,2.0909,163.10
3,Antigua and Barbuda,23671.64500,1212.438354,5.121902,6.5,0.9343,119.90
4,Canada,44711.05476,4908.841797,10.979034,4.5,0.6641,62.83
5,Chile,22883.31194,1949.353271,8.518667,6.6,1.1180,87.43
6,Panama,23195.97047,1696.900513,7.315496,14.1,2.3346,110.00
7,Trinidad and Tobago,30987.45506,2172.005371,7.009306,17.1,2.0737,171.80
8,United States,57938.18519,9877.871094,17.048983,5.8,0.9714,114.10
9,Uruguay,21820.27381,2056.427002,9.424388,7.2,1.1712,113.90
10,Bahrain,47215.55838,2293.840576,4.858231,6.3,1.0816,56.81
11,Kuwait,75689.69836,3051.086670,4.031046,7.3,1.2318,79.22
12,Oman,42078.88375,1834.124023,4.358776,9.7,1.5982,96.25
13,Qatar,123573.63040,3939.552490,3.188020,6.4,1.0911,61.76
14,Saudi Arabia,54158.32592,3160.477051,5.835626,6.7,1.1437,89.13
15,United Arab Emirates,72386.08942,2463.603760,3.403421,6.6,1.1303,73.95
16,Austria,52897.82227,5476.121094,10.352263,3.0,0.6546,61.89
17,Belgium,48696.21750,5006.811523,10.281726,3.1,0.7434,71.56
18,Croatia,24416.43619,1667.585327,6.829766,4.2,0.7358,87.51
19,Cyprus,34510.90222,2358.557373,6.834239,2.1,0.5116,55.41
20,Denmark,52159.78315,5291.381348,10.144562,3.5,0.5860,65.04
21,Estonia,31248.48572,2009.142578,6.429568,2.3,0.6437,118.60
22,Finland,44910.21312,4211.662109,9.377960,2.0,0.4491,70.18
23,France,42975.47261,4942.756836,11.501345,3.5,0.6602,70.98
24,Germany,49630.45184,5573.716309,11.230436,3.3,0.6217,68.69
25,Greece,27254.26481,2238.928467,8.214966,3.9,0.5249,66.42
26,Hungary,27653.24550,1949.052490,7.048187,4.0,0.7971,125.80
27,Iceland,52843.72000,4314.761230,8.165135,1.7,0.4589,55.01
28,Ireland,72363.76691,5365.201660,7.414211,3.1,0.5104,62.39
29,Israel,39883.49151,2852.711670,7.152613,3.1,0.7456,57.98
30,Italy,39158.36547,3416.696777,8.725330,2.9,0.4957,53.53
31,Kazakhstan,25262.55399,864.574463,3.422356,9.8,1.2135,181.50
32,Latvia,26278.16082,1630.908813,6.206327,3.9,0.6799,153.80
33,Lithuania,30120.72604,1999.071411,6.636863,3.9,0.8788,154.50
34,Luxembourg,109247.88770,5675.387695,5.194963,2.4,0.5293,55.50
35,Malta,38839.93536,3541.352783,9.117813,6.1,0.9218,55.03
36,Netherlands,51493.36560,5279.848145,10.253452,3.4,0.5999,58.63
37,Norway,59203.11436,6270.376465,10.591295,2.1,0.4986,54.66
38,Poland,28285.84541,1850.729004,6.542951,4.0,0.6675,110.60
39,Portugal,31556.02093,2972.266846,9.419017,3.0,0.6505,75.56
40,Romania,23797.70836,1188.403320,4.993772,7.1,1.4482,134.80
41,Russian Federation,24304.11907,1279.665405,5.265220,6.5,1.0987,202.70
42,Slovenia,33205.43982,2815.522217,8.479099,1.9,0.4706,72.04
43,Spain,36589.14992,3275.601563,8.952386,2.7,0.5435,55.79
44,Sweden,49776.12980,5395.965332,10.840467,2.3,0.5317,52.43
45,Switzerland,64680.92585,7573.456543,11.708949,3.7,0.5066,49.20
46,Turkey,26509.34591,1135.843872,4.284692,10.5,1.7131,104.00
47,Australia,50135.34680,4612.809082,9.200713,3.2,0.5930,60.73
48,Brunei Darussalam,78134.66724,1991.095337,2.548287,9.0,1.8493,97.70
49,Japan,39730.17550,4304.609375,10.834610,2.0,0.7220,50.83
50,Malaysia,28246.86487,1041.845581,3.688358,7.0,1.1841,122.90
51,New Zealand,40281.82201,3735.728760,9.273982,4.4,0.8958,66.06
52,Singapore,90702.36075,3992.280762,4.401518,2.2,0.5381,51.36

At this point, I have realized that finding the intersection of the GDP frame and the mortality frame leades to an incomplete picture. The reason for this is a difference in naming across the frames which leads to problems when merging. For example, if one frame has "United States" as a country and the other has "United States of America", merging on country will be a problem between them. I will have to fix this manually.

In [29]:
GDPCountries = set(CF.Country)
MortalityCountries = set(MF.Country)
Difference = GDPCountries.symmetric_difference(MortalityCountries)
GDPCountries.intersection(Difference)

{'Andorra',
 'Bahamas',
 'Czech Republic',
 'Monaco',
 'Republic of Korea',
 'Saint Kitts and Nevis',
 'San Marino',
 'Slovakia',
 'United Kingdom'}

The list above shows the difference in the sets. I will now manually fix these differences. Note: Andorra, Bahamas, Monaco, Saint Kitts and Nevis and San Marino do not have full data sets (most likely due to size), and thus be dropped from this analysis

In [30]:
MF.loc[MF["Country"] == "Czechia", "Country"] = "Czech Republic"
MF.loc[MF["Country"] == "Korea, Rep.", "Country"] = "Republic of Korea"
MF.loc[MF["Country"] == "Slovak Republic", "Country"] = "Slovakia"
MF.loc[MF["Country"] == "United Kingdom of Great Britain and Northern Ireland", "Country"] = "United Kingdom"

Rechecking the intersection

In [31]:
GDPCountries = set(CF.Country)
MortalityCountries = set(MF.Country)
Difference = GDPCountries.symmetric_difference(MortalityCountries)
GDPCountries.intersection(Difference)

{'Andorra', 'Bahamas', 'Monaco', 'Saint Kitts and Nevis', 'San Marino'}

These are all of the dropped countries. We are now ready to analyze the 56 remaining countries

In [32]:
CF.merge(MF, on="Country")

,Country,GDP Per Capita,Total PPP-Adjusted Expenditure,CHE as % of GDP,Infant Mortality Rate,Child Mortality Rate,Adult Mortality Rate
0,Equatorial Guinea,26232.10577,824.874939,3.144524,66.1,26.4234,304.80
1,Liberia,119881.66980,11743.436520,9.795856,65.2,25.8014,230.30
2,Seychelles,27373.76713,1417.632202,5.178798,12.7,2.0909,163.10
3,Antigua and Barbuda,23671.64500,1212.438354,5.121902,6.5,0.9343,119.90
4,Canada,44711.05476,4908.841797,10.979034,4.5,0.6641,62.83
5,Chile,22883.31194,1949.353271,8.518667,6.6,1.1180,87.43
6,Panama,23195.97047,1696.900513,7.315496,14.1,2.3346,110.00
7,Trinidad and Tobago,30987.45506,2172.005371,7.009306,17.1,2.0737,171.80
8,United States,57938.18519,9877.871094,17.048983,5.8,0.9714,114.10
9,Uruguay,21820.27381,2056.427002,9.424388,7.2,1.1712,113.90
10,Bahrain,47215.55838,2293.840576,4.858231,6.3,1.0816,56.81
11,Kuwait,75689.69836,3051.086670,4.031046,7.3,1.2318,79.22
12,Oman,42078.88375,1834.124023,4.358776,9.7,1.5982,96.25
13,Qatar,123573.63040,3939.552490,3.188020,6.4,1.0911,61.76
14,Saudi Arabia,54158.32592,3160.477051,5.835626,6.7,1.1437,89.13
15,United Arab Emirates,72386.08942,2463.603760,3.403421,6.6,1.1303,73.95
16,Austria,52897.82227,5476.121094,10.352263,3.0,0.6546,61.89
17,Belgium,48696.21750,5006.811523,10.281726,3.1,0.7434,71.56
18,Croatia,24416.43619,1667.585327,6.829766,4.2,0.7358,87.51
19,Cyprus,34510.90222,2358.557373,6.834239,2.1,0.5116,55.41
20,Czech Republic,35272.21210,2521.821777,7.149599,2.5,0.6376,81.13
21,Denmark,52159.78315,5291.381348,10.144562,3.5,0.5860,65.04
22,Estonia,31248.48572,2009.142578,6.429568,2.3,0.6437,118.60
23,Finland,44910.21312,4211.662109,9.377960,2.0,0.4491,70.18
24,France,42975.47261,4942.756836,11.501345,3.5,0.6602,70.98
25,Germany,49630.45184,5573.716309,11.230436,3.3,0.6217,68.69
26,Greece,27254.26481,2238.928467,8.214966,3.9,0.5249,66.42
27,Hungary,27653.24550,1949.052490,7.048187,4.0,0.7971,125.80
28,Iceland,52843.72000,4314.761230,8.165135,1.7,0.4589,55.01
29,Ireland,72363.76691,5365.201660,7.414211,3.1,0.5104,62.39
30,Israel,39883.49151,2852.711670,7.152613,3.1,0.7456,57.98
31,Italy,39158.36547,3416.696777,8.725330,2.9,0.4957,53.53
32,Kazakhstan,25262.55399,864.574463,3.422356,9.8,1.2135,181.50
33,Latvia,26278.16082,1630.908813,6.206327,3.9,0.6799,153.80
34,Lithuania,30120.72604,1999.071411,6.636863,3.9,0.8788,154.50
35,Luxembourg,109247.88770,5675.387695,5.194963,2.4,0.5293,55.50
36,Malta,38839.93536,3541.352783,9.117813,6.1,0.9218,55.03
37,Netherlands,51493.36560,5279.848145,10.253452,3.4,0.5999,58.63
38,Norway,59203.11436,6270.376465,10.591295,2.1,0.4986,54.66
39,Poland,28285.84541,1850.729004,6.542951,4.0,0.6675,110.60
40,Portugal,31556.02093,2972.266846,9.419017,3.0,0.6505,75.56
41,Romania,23797.70836,1188.403320,4.993772,7.1,1.4482,134.80
42,Russian Federation,24304.11907,1279.665405,5.265220,6.5,1.0987,202.70
43,Slovakia,29676.36556,2110.421387,7.111455,5.0,1.1163,104.10
44,Slovenia,33205.43982,2815.522217,8.479099,1.9,0.4706,72.04
45,Spain,36589.14992,3275.601563,8.952386,2.7,0.5435,55.79
46,Sweden,49776.12980,5395.965332,10.840467,2.3,0.5317,52.43
47,Switzerland,64680.92585,7573.456543,11.708949,3.7,0.5066,49.20
48,Turkey,26509.34591,1135.843872,4.284692,10.5,1.7131,104.00
49,United Kingdom,43687.79461,4310.548828,9.866712,3.8,0.6282,66.68
50,Australia,50135.34680,4612.809082,9.200713,3.2,0.5930,60.73
51,Brunei Darussalam,78134.66724,1991.095337,2.548287,9.0,1.8493,97.70
52,Japan,39730.17550,4304.609375,10.834610,2.0,0.7220,50.83
53,Malaysia,28246.86487,1041.845581,3.688358,7.0,1.1841,122.90
54,New Zealand,40281.82201,3735.728760,9.273982,4.4,0.8958,66.06
55,Republic of Korea,39748.88684,2748.367920,6.914327,2.9,0.4979,60.81
56,Singapore,90702.36075,3992.280762,4.401518,2.2,0.5381,51.36